* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-top: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  width: 501px;
  height: 501px;
}

.square {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.orange {
  background-color: #ff5d00;
}

.fade {
  background-color: white;
  transition: background-color 1.5s;
}
